    body {
        font-family: monospace;
        background: #1e1e1e;
        color: #d4d4d4;
        padding: 20px;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        padding: 10px;
        border: 1px solid #444;
        text-align: left;
    }

    th {
        background-color: #333;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #222;
    }


    h1,
    h2 {
        color: #fff;
    }

    .error-message {
        color: red;
    }

    .success-message {
        color: green;
    }

    .info-message {
        color: #00f;
    }

    .avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }